<!DOCTYPE html>
<link rel="stylesheet" media="print"  href="print.css">
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Persons</title>
	<style>
	html, body {
		width: 248mm;
	}
	</style>
</head>

<body>
	<% game.forEach(model => { %>
		<div style="margin-bottom:1em">
			<h5><%= model.id %></h5>
			<div><%= model.gamename %></div>
			<img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=<%=model.gamename%>">
		</div>
	<% }); %>
	<script>
		window.print();
		window.onfocus = () => window.close();
	</script>
</body>
</html>