<form action="/book/import_xlsx" method="post" enctype="multipart/form-data">
	<input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" />
	<input type="submit" />
</form>