<body onload="pageLoaded()">
    <br>

    <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center2">

    <br>
    <br>
    <div class="container">
        <h2 class="center">上傳禮物Excel檔案</h2>

        <form class="center" action="/gift/import_xlsx" method="post" enctype="multipart/form-data">
            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" />
            <input class="center" type="submit" />
        </form>
    </div>

    <nav class="bottomnav fixed-bottom">
        <a href="/item/adminindex" class="nav__link">
            <i class="material-icons">
                home
            </i>
            <span class="nav__text">主頁</span>
        </a>
        <a href="/item/adminsearch" class="nav__link nav__link--active">
            <i class="material-icons">
                search
            </i>
            <span class="nav__text">搜尋</span>
        </a>
        <a href="/item/adminnoti" class="nav__link">
            <i class="material-icons">
                email
            </i>
            <span class="nav__text">通知</span>
        </a>
        <a href="/item/adminaccount" class="nav__link">
            <i class="material-icons">
                account_circle
            </i>
            <span class="nav__text">帳戶</span>
        </a>
    </nav>
    </div>

</body>